body {
    background: dimgrey;
    color:floralwhite;
 }
body {
    background: dimgrey;
    color:floralwhite;
    margin: 0px;
 }

 hearder {
    border-bottom: solid 1px rgb(170, 170, 170);
    padding: 20px;
    font-size: 38px;
 }

